<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>KidKid | 用户列表</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/static/html/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/animate-css/vivify.min.css">

    <link rel="stylesheet" href="/static/assets/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet"
          href="/static/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet"
          href="/static/assets/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="/static/assets/vendor/sweetalert/sweetalert.css"/>
    <link rel="stylesheet" href="/static/assets/vendor/themify-icons/themify-icons.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/html/assets/css/site.min.css">

    <!--<style>-->
    <!--    td.details-control {-->
    <!--    background: url('/static/assets/images/details_open.png') no-repeat center center;-->
    <!--    cursor: pointer;-->
    <!--}-->
    <!--    tr.shown td.details-control {-->
    <!--        background: url('/static/assets/images/details_close.png') no-repeat center center;-->
    <!--    }-->
    <!--</style>-->
</head>
<body class="theme-cyan font-montserrat light_version">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>

<!-- 右侧栏 -->
<div class="themesetting">
    <a href="javascript:void(0);" class="theme_btn"><i class="icon-magic-wand"></i></a>
    <div class="card theme_color">
        <div class="header">
            <h2>主题颜色</h2>
        </div>
        <ul class="choose-skin list-unstyled mb-0">
            <li data-theme="green">
                <div class="green"></div>
            </li>
            <li data-theme="orange">
                <div class="orange"></div>
            </li>
            <li data-theme="blush">
                <div class="blush"></div>
            </li>
            <li data-theme="cyan" class="active">
                <div class="cyan"></div>
            </li>
            <li data-theme="indigo">
                <div class="indigo"></div>
            </li>
            <li data-theme="red">
                <div class="red"></div>
            </li>
        </ul>
    </div>
    <div class="card font_setting">
        <div class="header">
            <h2>字体设置</h2>
        </div>
        <div>
            <div class="fancy-radio mb-2">
                <label><input name="font" value="font-krub" type="radio"><span><i></i>Krub Google 字体</span></label>
            </div>
            <div class="fancy-radio mb-2">
                <label><input name="font" value="font-montserrat" type="radio" checked><span><i></i>Montserrat Google 字体</span></label>
            </div>
            <div class="fancy-radio">
                <label><input name="font" value="font-roboto" type="radio"><span><i></i>Robot Google 字体</span></label>
            </div>
        </div>
    </div>
    <div class="card setting_switch">
        <div class="header">
            <h2>Settings</h2>
        </div>
        <ul class="list-group">
            <li class="list-group-item">
                白色模式
                <div class="float-right">
                    <label class="switch">
                        <input type="checkbox" class="lv-btn" checked>
                        <span class="slider round"></span>
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                左右翻转
                <div class="float-right">
                    <label class="switch">
                        <input type="checkbox" class="rtl-btn">
                        <span class="slider round"></span>
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                水平菜单
                <div class="float-right">
                    <label class="switch">
                        <input type="checkbox" class="hmenu-btn">
                        <span class="slider round"></span>
                    </label>
                </div>
            </li>
            <li class="list-group-item">
                迷你菜单
                <div class="float-right">
                    <label class="switch">
                        <input type="checkbox" class="mini-sidebar-btn">
                        <span class="slider round"></span>
                    </label>
                </div>
            </li>
        </ul>
    </div>

</div>
<!--	右侧栏-->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">

    <!--	顶部导航栏-->
    <nav class="navbar top-navbar">
        <div class="container-fluid">

            <div class="navbar-left">
                <div class="navbar-btn">
                    <a href="index.html"><img src="/static/assets/images/icon.svg" alt="Oculux Logo"
                                              class="img-fluid logo"></a>
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
                <ul class="nav navbar-nav">
                    <div style="margin-top: 10px">
                        <h4><span style="color: rgb(66, 66, 66);margin-left: 20px;">后台管理系统</span></h4>
                    </div>
                </ul>

            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">


                        <li><a href="page-login" class="icon-menu"><i class="icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="progress-container">
            <div class="progress-bar" id="myBar"></div>
        </div>
    </nav>
    <!--	顶部导航栏-->


    <!--侧边栏-->
    <div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="page-profile"><img src="/static/assets/images/icon.svg" alt="Oculux Logo"
                                        class="img-fluid logo"><span href="page-profile">KidKid</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                    class="lnr lnr-menu icon-close"></i></button>
        </div>
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="user_div">
                    <img src="/static/assets/images/user.png" class="user-photo" alt="User Profile Picture">
                </div>
                <div class="dropdown">
                    <span>欢迎,管理员</span>
                    <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown"><strong
                            th:text="${loginManager.managerName}">Default ManagerName</strong></a>
                    <ul class="dropdown-menu dropdown-menu-right account vivify flipInY">
                        <li><a href="page-profile"><i class="icon-user"></i>个人主页</a></li>
                        <li class="divider"></li>
                        <li><a href="page-login"><i class="icon-power"></i>注销</a></li>
                    </ul>
                </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="header">主菜单</li>
                    <li>
                        <a href="page-profile"><i class="icon-home"></i><span>个人主页</span></a>

                    </li>

                    <li class="header">后台管理</li>
                    <li><a href="user-list"><i class="icon-users"></i><span>用户列表</span></a></li>
                    <li><a href="admin-list"><i class="icon-user"></i><span>管理员列表</span></a></li>
                    <li>
                        <a class="has-arrow"><i class="icon-book-open"></i><span>童话故事</span></a>
                        <ul>
                            <li class="active open"><a href="story-list">童话列表</a></li>
                            <li><a href="add-story">添加童话</a></li>
                        </ul>
                    </li>

                    <li><a href="page-gallery"><i class="icon-picture"></i><span>绘画</span></a></li>
                    <li><a href="recording-list"><i class=" icon-microphone"></i><span>配音</span></a></li>
                    <li><a href="song-list"><i class=" icon-music-tone"></i><span>儿歌</span></a></li>
                    <li><a href="cartoon-list"><i class=" ti-video-clapper"></i><span>动画</span></a></li>
                    <li><a href="collection-list"><i class=" ti-files"></i><span>合辑</span></a></li>

                </ul>
            </nav>
        </div>
    </div>
    <!--	侧边栏-->

    <div id="main-content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h1>用户管理</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="page-profile">首页</a></li>

                                <li class="breadcrumb-item active" aria-current="page">用户列表</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right hidden-xs">

                        <a class="btn btn-sm btn-success" title="添加用户" data-type="confirm"
                           data-toggle="modal" data-target="#AddForm"><i class="icon-plus"></i> 添加用户</a>
                    </div>
                </div>
            </div>

            <div class="row clearfix">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="header">
                            <h2>用户列表
                                <small>可复制到剪贴板或下载CSV文件和打印表格</small>
                            </h2>
                            <ul class="header-dropdown dropdown">

                                <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a>
                                </li>

                            </ul>
                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover dataTable js-exportable">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>邮箱</th>
                                        <th>电话</th>
                                        <th>创建时间</th>
                                        <th>更新时间</th>
                                        <th>修改|删除</th>


                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>用户名</th>
                                        <th>邮箱</th>
                                        <th>电话</th>
                                        <th>创建时间</th>
                                        <th>更新时间</th>
                                        <th>修改|删除</th>

                                    </tr>
                                    </tfoot>
                                    <tbody>

                                    <tr th:each="user,rowStat:${users}">
                                        <td th:text="${user.userId}">-1</td>
                                        <td th:text="${user.userName}">Default User Name</td>
                                        <td th:text="${user.userMail}">Default User E-mail</td>
                                        <td th:text="${user.userTel}">Default User Tel</td>
                                        <td th:text="${#dates.format(user.createTime,'yyyy-MM-dd HH:mm:SS')}">Default
                                            Create DateTime
                                        </td>
                                        <td th:text="${#dates.format(user.updateTime,'yyyy-MM-dd HH:mm:SS')}">Default
                                            Update DateTime
                                        </td>
                                        <td>
                                            <a>
                                                <button type="button" class="btn btn-sm btn-default js-sweetalert"
                                                        title="修改" data-type="confirm" data-toggle="modal"
                                                        th:data-target="'#a'+${user.userId}"><i
                                                        class="fa fa-edit"></i>
                                                </button>
                                            </a>
                                            <!-- 编辑表单 -->
                                            <div class="modal fade" th:id="'a'+${user.userId}" tabindex="-1"
                                                 role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalCenterTitle">
                                                                修改用户信息</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form id="basic-form" method="post" th:action="@{/editUser}">
                                                            <div class="modal-body">

                                                                <div class="form-group">
                                                                    <label> 用户名</label>
                                                                    <input type="text" th:id="'edit_user_name'+${user.userId}"
                                                                           name="userName" class="form-control"
                                                                           th:value="${user.userName}"
                                                                           th:oninput="'javascript:editkeyup(\'' + ${user.userId} + '\');'"  th:onkeyup="'javascript:editkeyup(\'' + ${user.userId} + '\');'"
                                                                           required="required">
                                                                    <span th:id="'edit_name_msg'+${user.userId}"></span>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label> 邮 箱</label>
                                                                    <input type="email" id="edit_email" name="userMail"
                                                                           class="form-control"
                                                                           th:value="${user.userMail}">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label> 电 话</label>
                                                                    <input type="tel" id="edit_tel" name="userTel"
                                                                           class="form-control"
                                                                           th:value="${user.userTel}"
                                                                           oninput = "value=value.replace(/[^\d]/g,'')"
                                                                           maxlength="11" minlength="11">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label> 新密码</label>
                                                                    <input type="password" id="edit_paw1"
                                                                           name="edit_paw" class="form-control"
                                                                           minlength="6" maxlength="16">
                                                                    <br>
                                                                    <label> 重复新密码</label>
                                                                    <input type="password" id="edit_paw2"
                                                                           name="userPsw" class="form-control"
                                                                           minlength="6" maxlength="16"
                                                                           onkeyup="validate2()">
                                                                    <span id="edit_msg"></span>
                                                                </div>
                                                                <input type="text" id="user_id" name="userId"
                                                                       class="form-control"
                                                                       th:value="${user.userId}" hidden>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-round btn-default"
                                                                        data-dismiss="modal">取消
                                                                </button>
                                                                <button type="submit" class="btn btn-round btn-primary">
                                                                    保存
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 编辑表单 -->
                                            <a>
                                                <button type="button" class="btn btn-sm btn-default js-sweetalert"
                                                        title="删除" data-type="confirm" data-toggle="modal"
                                                        th:data-target="'#b'+${user.userId}"><i
                                                        class="fa fa-trash-o text-danger"></i></button>
                                            </a>
                                            <!-- 确认删除表单 -->
                                            <div class="modal fade" th:id="'b'+${user.userId}" tabindex="-1"
                                                 role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                 aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalCenterTitle1">
                                                                确认删除框</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <form id="basic-form1" th:action="@{'/deleteUser/'+${user.userId}}">
                                                            <p></p>
                                                            <p style="text-indent:2em">删除该用户，同时会删除该用户的配音和图画</p>
                                                            <p style="text-indent:2em">确认要删除名字为：<a th:text="${user.userName}"></a> 的用户吗？</p>
                                                            <p></p>
                                                            <p></p>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-round btn-default"
                                                                        data-dismiss="modal">取消
                                                                </button>
                                                                <button type="submit" class="btn btn-round btn-primary">
                                                                    确认
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- 确认删除表单 -->
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                                <div class="btn-group btn-group" style="margin-top: 20px; margin-left: 45%" >
                                    <a th:href="@{/selectPreviousUserGroup}"><button type="button" class="btn btn-info">上一组</button></a>
                                    <a th:href="@{/selectNextUserGroup}"><button type="button" class="btn btn-outline-info">下一组</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


<!-- 添加表单 -->

<div class="modal fade" id="AddForm" tabindex="-1" role="dialog" aria-labelledby="AddFormTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddFormTitle">添加用户</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-form" method="post" th:action="@{/createUser}">
                <div class="modal-body">

                    <div class="form-group">
                        <label> 用户名</label>
                        <input type="text" id="add_username" name="userName" class="form-control" oninput="addkeyup()" onkeyup="addkeyup()" required="required">
                        <span id="add_name_msg"></span>
                    </div>
                    <div class="form-group">
                        <label> 邮 箱</label>
                        <input type="email" id="add_mail" name="userMail" class="form-control" >
                    </div>
                    <div class="form-group">
                        <label> 电 话</label>
                        <input type="tel" id="add_tel" name="userTel" class="form-control" maxlength="11" minlength="11" oninput = "value=value.replace(/[^\d]/g,'')">
                    </div>
                    <div class="form-group">
                        <label> 密 码</label>
                        <input minlength="6" maxlength="16" type="password" id="add_paw1" name="add_paw" class="form-control" required="required">
                        <br>
                        <label> 重复密码</label>
                        <input minlength="6" maxlength="16" type="password" id="add_paw2" name="userPsw" class="form-control" onkeyup="validate1()"
                               required="required">
                        <span id="add_msg"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-round btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" id="add_sub" class="btn btn-round btn-primary">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 添加表单 -->

<!-- Javascript -->

<script>
    function Toast(msg,duration){
        duration=isNaN(duration)?3000:duration;
        var m = document.createElement('div');
        m.innerHTML = msg;
        m.style.cssText="max-width:60%;min-width: 150px;padding:0 14px;height: 40px;color: rgb(255, 255, 255);line-height: 40px;text-align: center;border-radius: 4px;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 999999;background: rgba(0, 0, 0,.7);font-size: 16px;";
        document.body.appendChild(m);
        setTimeout(function() {
            var d = 0.5;
            m.style.webkitTransition = '-webkit-transform ' + d + 's ease-in, opacity ' + d + 's ease-in';
            m.style.opacity = '0';
            setTimeout(function() { document.body.removeChild(m) }, d * 1000);
        }, duration);
    }

    var specialKey = "「」[`~!#$^&*()=|{}':;',\\[\\].<>/?~！#￥……&*（）——|{}【】‘；：”“'。，、？]‘’+-@%". split('');
    function addkeyup() {
        var value = document.getElementById('add_username').value;
        for (var i = 0; i < value.length; i++) {
            if (specialKey.indexOf(value[i]) > -1) {
                console.log("get")
                document.getElementById('add_username').value = value.replace(value[i], '');
                i--;
                document.getElementById("add_name_msg").innerHTML="<font color='red'>请勿输入除下划线外的特殊字符</font>";
                value = document.getElementById('add_username').value;
                console.log(value)
            }
        }
    }

    function editkeyup(id) {
        var value = document.getElementById('edit_user_name'+id).value;
        for (var i = 0; i < value.length; i++) {
            if (specialKey.indexOf(value[i]) > -1) {
                console.log("get")
                document.getElementById('edit_user_name'+id).value = value.replace(value[i], '');
                i--;
                document.getElementById("edit_name_msg"+id).innerHTML="<font color='red'>请勿输入除下划线外的特殊字符</font>";
                value = document.getElementById('edit_user_name'+id).value;
                console.log(value)
            }
        }
    }

    function validate1() {
        var pw1 = document.getElementById("add_paw1").value;
        var pw2 = document.getElementById("add_paw2").value;
        if (pw1 == pw2) {
            document.getElementById("add_msg").innerHTML = "<font color='green'>两次密码相同</font>";
            document.getElementById("add_sub").disabled = false;
        }
        else {
            document.getElementById("add_msg").innerHTML = "<font color='red'>两次密码不相同</font>";
            document.getElementById("add_sub").disabled = true;
        }
    }

    function validate2() {
        var pw1 = document.getElementById("edit_paw1").value;
        var pw2 = document.getElementById("edit_paw2").value;
        if (pw1 == pw2) {
            document.getElementById("edit_msg").innerHTML = "<font color='green'>两次密码相同</font>";
            document.getElementById("edit_sub").disabled = false;
        }
        else {
            document.getElementById("edit_msg").innerHTML = "<font color='red'>两次密码不相同</font>";
            document.getElementById("edit_sub").disabled = true;
        }
    }

    function getQueryVariable(variable) {
        var query=window.location.search.substring(1);
        var vars=query.split("&")
        for (var i=0;i<vars.length;i++){
            var pair=vars[i].split("=");
            if(pair[0]==variable){
                return pair[1];
            }
        }
        return(false);
    }
    var i=getQueryVariable("i");
    if(i=="1006"){
        Toast("创建用户成功",2000);
    }else if(i=="2007"){
        Toast("用户名已被占用，创建用户失败！",2000);
    }else if(i=="1007") {
        Toast("修改用户成功",2000);
    }else if(i=="2008"){
        Toast("用户名已被占用，修改用户失败！",2000);
    }else if(i=="1008"){
        Toast("删除用户成功",2000)
    }else {

    }


</script>

<script src="/static/html/assets/bundles/libscripts.bundle.js"></script>
<script src="/static/html/assets/bundles/vendorscripts.bundle.js"></script>

<script src="/static/html/assets/bundles/datatablescripts.bundle.js"></script>
<script src="/static/assets/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
<script src="/static/assets/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
<script src="/static/assets/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
<script src="/static/assets/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
<script src="/static/assets/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
<script src="/static/assets/vendor/sweetalert/sweetalert.min.js"></script><!-- SweetAlert Plugin Js -->
<script src="/static/html/assets/bundles/mainscripts.bundle.js"></script>
<script src="/static/html/assets/js/pages/tables/jquery-datatable.js"></script>
</body>
</html>
